@{
    ViewData["Title"] = "隱私條款";
}

<div class="container mt-4">
    <h1 class="mb-4">隱私條款</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3">資料使用範圍</h5>
            <p class="mb-0">你上傳的資訊只會在本網站使用，我們不會將您的個人資料提供給第三方或使用於其他用途。</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3">資料刪除權</h5>
            <p class="mb-0">你可以隨時刪除你的登入資料。如需刪除帳號或個人資料，請聯繫網站管理員或透過個人資料頁面進行操作。</p>
        </div>
    </div>
</div>
